body {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #fff0f5;
    color: #333;
}

.wrapper {
    min-height: 100vh;
    max-height: 100dvh;
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    color: white;
    text-align: center;
    padding: 1.2em;
    overflow: hidden;
    min-height: 200px;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('./resources/flor.png');
    background-size: cover;
    background-position: center;
    transform: rotate(180deg);
    z-index: -1;
    min-height: 150px;
}

.container {
    flex: 1;
    padding: 1.5em;
    max-width: 600px;
    margin: auto;
}

h1 {
    font-size: 1.6em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1em;
    line-height: 1.5;
}

#p-one {
    font-size: 1.1rem;
}

.steps {
    margin-top: 1em;
}

.steps li {
    margin: 0.5em 0;
}

.insta-links {
    margin-top: 1em;
}

.insta-links a {
    display: block;
    background-color: #e91e63;
    color: white;
    text-decoration: none;
    padding: 0.8em;
    margin: 0.5em 0;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}

footer {
    background-image: url('./resources/flor.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 1em;
    font-size: 0.9em;
    position: relative;
    min-height: 200px;
    /* Ajuste conforme necessário */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0.3em 0;
    position: relative;
    /* Isso garante que o texto fique acima da imagem de fundo */
}

.contact {
    font-size: 20px;
    margin-top: 1.5rem;
}

@media (min-width: 768px) {
    footer {
        min-height: min(200px, 25dvh);
        padding: 0.5em;
        min-height: 430px;
    }

    .contact {
        font-size: clamp(14px, 4vw, 18px);
        margin-top: 1rem;
    }

    header {
        min-height: 400px;
    }
}

@media (min-width: 800px) {
    footer {
        min-height: min(200px, 25dvh);
        padding: 0.5em;
        min-height: 435px;
    }

    .contact {
        font-size: clamp(14px, 4vw, 18px);
        margin-top: 1rem;
    }
}